.bodyDiv{
    text-align: center;
    /* animation: multicolor 7s infinite, vibrate 3s infinite ; */
    font-weight: bolder;
    color:red;
}
.onPageMessage{
  color:rgb(231, 28, 28);
  font-size: 15px;
  font-weight: bolder;
}
.label1{
  color:rgb(54, 0, 250);
  font-size: 12px;
  font-weight: bolder;
}
body {
  background-image: url('../../cool-background.png');
}

.button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}

/* @keyframes vibrate {
    1% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    99% { transform: translate(0); }
    40% { transform: translate(-2px, -2px); }
    60% { transform: translate(2px, 2px); }
    20% { transform: translate(-2px, 2px); }
    30% { transform: translate(1px, -3px); }
    70% { transform: translate(3px, -1px); }
    80% { transform: translate(2px, -2px); }
    90% { transform: translate(0); }
    90% { transform: translate(-2px, 2px); }
  }
  
   @keyframes multicolor {
      0% {
          background-color:   #f1f0f2 ;
       } 
      58% {
        background-color:  #f3f0ef ;
      }
      30% {
        background-color: #e1f3f3;
      } 
      45% {
        background-color:  #f0f7ee ;
      } 
       60% {
        background-color:   #f4f6f6 ;
      }
      62% {
        background-color:  #fbf9f3;
      }
      61% {
        background-color:  #f4f1ee;
      }
      72% {
        background-color:  #e4f8e6;
      }
      88% {
        background-color:  #f4d0d2;
      }
      100% {
        background-color:   #f8f3fc ;
      }
  }  */